.hidden {
    display: none;
  }
  
  .animated {
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #animatedDiv {
    width: 600px;
    height: 50px;
    position: absolute;
    bottom: 0; /* Початкова точка, з якої рухатиметься вгору */
    animation: expandUp 2s ease infinite;
  }
  
  @keyframes expandUp {
    0%, 100% {
      height: 70px; /* Початкова висота */
      bottom: 0;
    }
    50% {
      height: 500px; /* Зростання висоти на половину анімації */
      
    }
  }